@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 36% 96%;
    --foreground: 218 13% 11%;

    --card: 0 0% 100%;
    --card-foreground: 218 13% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 218 13% 11%;

    --primary: 212 80% 42%;
    --primary-foreground: 0 0% 100%;
    --primary-container: 212 80% 48%;
    --on-primary-container: 221 100% 93%;

    --secondary: 219 62% 44%;
    --secondary-foreground: 0 0% 100%;

    --tertiary: 26 100% 25%;
    --on-tertiary: 0 0% 100%;
    --tertiary-container: 27 100% 33%;
    --on-tertiary-container: 20 100% 90%;

    --muted: 234 36% 92%;
    --muted-foreground: 221 11% 29%;

    --accent: 234 36% 92%;
    --accent-foreground: 212 80% 42%;

    --destructive: 0 75% 41%;
    --destructive-foreground: 0 0% 100%;
    --error-container: 6 100% 92%;
    --on-error-container: 0 100% 29%;

    --border: 227 17% 85%;
    --input: 227 17% 85%;
    --ring: 212 80% 42%;

    --radius: 0.5rem;

    --on-surface: 218 13% 11%;
    --on-surface-variant: 221 11% 29%;
    --outline: 221 11% 45%;
    --outline-variant: 227 17% 80%;
    
    --surface-container-low: 234 36% 97%;
    --surface-container: 234 36% 95%;
    --surface-container-high: 234 36% 93%;
    --surface-container-highest: 234 36% 91%;
  }

  .dark {
    --background: 218 13% 11%;
    --foreground: 240 100% 99%;

    --card: 218 13% 11%;
    --card-foreground: 240 100% 99%;

    --popover: 218 13% 11%;
    --popover-foreground: 240 100% 99%;

    --primary: 210 100% 83%;
    --primary-foreground: 210 100% 11%;

    --secondary: 219 62% 84%;
    --secondary-foreground: 219 62% 14%;

    --muted: 221 11% 29%;
    --muted-foreground: 227 17% 80%;

    --accent: 221 11% 29%;
    --accent-foreground: 210 100% 83%;

    --destructive: 0 75% 41%;
    --destructive-foreground: 240 100% 99%;

    --border: 221 11% 29%;
    --input: 221 11% 29%;
    --ring: 210 100% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
